$secondary-color : #203d4a;
$custom-primary : #f47b4e;

page-join-contest-detail {
    .fund_lbl{
        font-size: 11px;
        color: #282828;
        padding-left: 0px;
        margin-right: 0px;
    }
    
    .primary-txt-color{
        color:$custom-primary
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default  {
        color: #f47b4e;        
    }

    .toolbar-title-ios, .toolbar-title-md {        
        color: #1f323b;
        font-size: 1.8rem;       
    }

    .item-ios ion-avatar, .item-md ion-avatar {
        min-width: 30px;
        min-height: 30px;
    }

    .back-button-text-ios, .back-button-text-md {        
        display: none;
    }

    .seg_title{
        font-size: 12px;
        color: #3a3a3a;
        display: flex;
        .checkbox-ios .checkbox-checked, .checkbox-md .checkbox-checked {
            border-color: #ee8d73;
            background-color: #ee8d73;
        }
    }
    .segment-ios .segment-button.segment-activated, .segment-md .segment-button.segment-activated {        
        background-color: #f47b4e;  
        border-color: #f47b4e; 
        font-size: 12px;
        font-style: italic;    
    }
    .segment-ios .segment-button {        
        border-color: #ee8d73;
        background-color: #ee8d73;       
        color: #fff;        
    }
    .game_btn{        
        button{
            color: #223e4b;
            background-color: #f47b4e;
            margin-top: 5vw;
            width: 80%;
            left: 10%;
            height: 4.2rem;
            border-radius: 5px;
        }
    }
    .button-ios.activated , .button-md.activated {
        background-color : #f47f53;
    }   
    .segment-md .segment-button, .segment-ios .segment-button {
        color:#fff;
        background-color: #f98e70;
        border-radius: 5px;
        padding: 0px;
    }
    .btn_group{
        margin-top: 5vw;
        width: 100%;
    }

     .segment-md .open.segment-button, .segment-ios .open.segment-button{
        height: 8.0rem;
    }
    ion-segment{
        background-color: #f98e70;
        border-radius: 5px;
    }
    .customvalue{
        border: 1px solid #f47b4e;
        border-radius: 5px;
        padding: 6px 0px;
        display: flex;
        align-items: center;
        ion-input{
            text-align: center;
            border-bottom: 1px solid #ee8d73;
            color: #3a3a3a;
            margin-left: 3vw;
            margin-right: 3vw;
        }  
        // .text-input::-moz-placeholder {
        //     text-align: center;
        // }
        
        // .text-input:-ms-input-placeholder {
        //     text-align: center;
        // }
        
        // .text-input::-webkit-input-placeholder {
        //     text-indent: 0;
        //     text-align: center;
        // }
        // input { 
        //     text-align: center; 
        // }
        //::-webkit-input-placeholder {
            //     //text-align: center;
            // }
    }
    ion-select{
        max-width: 100%;
        width: 100%;
    }
    // commemt start
    .select-text{
        font-size: 12px;
        color: #3a3a3a;
        padding-left: 6px;
    }
    .alert-md .alert-radio-label, .alert-ios .alert-radio-label{
        font-size: 12px;
        color: #3a3a3a;
    }
    .alert-md .alert-radio-inner, .alert-ios .alert-radio-inner{
        background-color: #ee8d73;
    }

    .alert-md [aria-checked=true] .alert-radio-icon, .alert-ios [aria-checked=true] .alert-radio-icon{
        border-color: #ee8d73;
    }

    .alert-md [aria-checked=true] .alert-radio-label, .alert-ios [aria-checked=true] .alert-radio-label{
        color: #ee8d73;
    }

    .alert-md .alert-button, .alert-ios .alert-button{
        color: #ee8d73;
    }

    .select-md, .select-ios{
        padding-left: 3px;
    }

    .text-input-md, .text-input-ios{
        margin: 8px;
    }

    .checkbox-md, .checkbox-ios{
        padding-left: 5px;
    }

    .checkbox-md .checkbox-icon, .checkbox-ios .checkbox-icon{
        border-width: 1px;
        border-color: #f47b4e;
    }

    .item-ios, .item-md{
        padding-left: 0px;
    }

    .item-md.item-block .item-inner, .item-ios.item-block .item-inner{
        border:1px solid #f47b4e;
        border-radius: 5px;
    }

    .segment-ios .segment-button:not(:first-of-type), .segment-md .segment-button:not(:first-of-type){
        border-left: 1px solid #e2b4a3;
    }

    .fundmodal{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(63,86,97,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        div{
            width: 80%;
            text-align: center;
            background-color: #fff;
            padding: 20px 30px;
            border-radius: 5px;
        }
        img{
            width: 100px;
            position: relative;
            margin-top: -66px;
            margin-left: 20px;
        }
        h3{
            color: #214049;
            font-weight: 700;
            margin-bottom: 5vw;
        }

        p{
            color: #214049;
            font-size: 12px;
        }

        button{
            color: #223e4b;
            background-color: #f47b4e;
            margin-top: 5vw;
            width: 80%;
            height: 4.2rem;
            border-radius: 5px;
            font-weight: bold;
        }

        ion-icon{
            float: right;
            font-size: 20px;
            width: 20px;
        }
    }

    ion-checkbox > .checkbox-icon{
        border-radius: 20%! important;
    }

    .seg_title{
        display: flex;
        align-items: center;
    }

    // div > ::-webkit-input-placeholder {
    //     //text-align: center;
    // }

    input.text-input.text-input-md{
        text-align: center;
    }

    input.text-input.text-input-ios{
        text-align: center;
    }

    //Jami
    .challengeName > input {
        text-align: start!important;
    }

    .selectOption{
        .item-inner{
            border-width: 0px!important;
            padding-right:0px!important;
            .input-wrapper{
                ion-label{
                    margin: 0px;
                    padding-left: 0px;
                }
            }
        }
    }

    ion-toggle{
        .toggle-icon{
            border-width: 2px;
            border-style: solid;
            border-color: #f47b4e;
            background-color: white!important;
            .toggle-inner{
                width: 20px;
                height: 20px;
                top: -1px;
                background-color: white!important;
            }
        }
    }

    ion-toggle.toggle-checked{
        .toggle-icon{
            background-color: #f47b4e!important;
        }
    }
    // end
    .toolbar-title {
        margin-right: 15vw;
    }
    .content{
        .heading{
            .row{
                // height: 36px;
                background-color:$secondary-color;
                padding:10px;
                color: white;
                font-size: 15px;
                font-family: 'Raleway';
                justify-content: center;
            }
            .challenge-name{
                height: 50px;
                background-color:#587581;
            }
            .challenge-heading {
                padding: 10px;
                color: #fff;
                background-color:#587581;
                text-align: center;
                ul {
                    padding: 0px;
                    margin: 0px;
                    li {
                        display: inline;
                        font-size: 12px;
                    }
                }
                .entryfee{
                    margin-top:6px;
                }
            }
            .active{
                color: #f47b4e;
                font-family: 'Raleway';
            }
        }
        .custom-content{
            padding: 15px;
            max-width: 400px;
            margin: 0 auto;
            .row{
                margin: 10px auto;
            }
            .row.input,input{
                width: 100%;
                padding: 10px;
                height: 40px;
                font-family: 'Raleway';
                font-size: 13px;
                border-radius: 0px;
                border: solid 1px grey;
                background-color: #fcfcfc;
                color: #6d6c6c;
            }
            .row.input{
                .col{
                    padding: 0;
                    line-height: 1.5;
                    color: #6d6c6c;
                    font-family: 'Raleway';
                    .icon{
                        font-size: 25px;
                        line-height: 0.7;
                    }
                    .text{
                        color: $secondary-color;
                        font-weight: 700;
                    }
                    .active{
                        color: #f47b4e;
                    }
                    .down{
                        transform: rotate(90deg)
                    }
                }
            }
            .custom-select{
                outline: none;
            }
            .custom-select:focus{
                .input{
                    border: solid 1px #f47b4e;
                }
            }
            ul.dropdown{
                border: solid 1px #f47b4e;
                background-color: #f6f3f2;
                position: absolute;
                width: calc(100% - 30px);
                transform: translateY(-25px);
                padding-left: 0px;
                z-index: 1;
                max-width: 370px;
                li{
                    list-style: none;
                    padding: 17px;
                    padding-left: 25px;
                    color: #1e569e;
                }
                li:hover{
                    background-color: rgb(235, 235, 235);
                }
                
            }
            ul.dropdown-picks{
                padding: 15px 0px;
                max-height: 160px;
                overflow-y: auto;
                li{
                    text-align: center;
                    padding: 5px 0px;
                }
            }
            input:focus{
                border-color: $custom-primary;
                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #456b9d;
                    opacity: 1; /* Firefox */
                }
                
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #456b9d;
                }
                
                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #456b9d;
                }
            }
            .save-button {
                margin-top: 20px;
                height: 40px;
                text-transform: capitalize;
                background-color: #f47b4e;
            }
        }
        .text-center{
            text-align: center;
        }
        .challenge-saved{
            padding: 32px;
            .label{
                text-align: center;
                font-size: 15px;
                color: white;
                margin: 0px;
            }
            .list{
                margin-top: 32px;
                .item{
                    height: 40px;
                    margin: 14px auto;
                    .label-md {
                        text-align: center;
                        font-family: 'Raleway-bold';
                        color: white;
                    }
                }
            }
        }
    }
}