page-forgot-password {
    .list-ios > .item-block:first-child{
        border-top:0
    }
    
    .back-button-text-ios{
        display: none;
    }
    
    .logo{
        text-align: center;
        padding: 0px;
        padding-top: 8vw;
    }

    .item-md, .item-ios {
        padding-left: 5vw;
        padding-right: 5vw;     
        background-color: transparent;       
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md,
    .item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
        color: #fff;
    }

    .text-input::-moz-placeholder {
        color: white;
    }
    
    .text-input:-ms-input-placeholder {
        color: white;
    }
    
    .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: white;
    }

    // .input-ios[clearInput] .text-input, .input-md[clearInput] .text-input {        
    //     color: white;
    // }
    .button-ios.activated , .button-md.activated {
        background-color : #f47f53;
    } 

    .fwd_btn{
        .button-inner {
            justify-content: center;
            color: #243d48;
            font-size: 20px;
            font-weight: 900;
        }
        margin: 0px;
        padding: 0px;
        background-color: white;

    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default  {
        color: #f47b4e;        
    }

    .frm{
        left: 50%;       
        top: 44%;        
        position: absolute;       
        width: 80%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);       
        -webkit-transform: translateY(-50%);
        transform: translate(-50%);
    }

    .toolbar-title-ios, .toolbar-title-md {        
        color: #1f323b;        
    }

    .back-button-icon-ios {
        color : #f47f53;
    }

    .toolbar-background{
        opacity: 0;
    }

}
