page-favourites {
    .back-button-text-ios{
        display: none;
    }

    .back-button-text-ios, .back-button-text-md {
        display: none;
    }

    .fund_lbl{
        font-size: 11px;
        color: #282828;
        padding-left: 0px;
        margin-right: 0px;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default  {
        color: #f47b4e;
    }

    .toolbar-title-ios, .toolbar-title-md {
        color: #1f323b;
    }

    .item-ios ion-avatar, .item-md ion-avatar {
        min-width: 30px;
        min-height: 30px;
    }

    .game_title{
        color:white;
        margin:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

    }

    #title-search{
      display: flex;
      p{
        width: calc(100% - 37.25px);
        flex-basis: calc(100% - 37.25px);
      }
      div{
        width: 37.25px;
        flex-basis: 37.25px;
      }
    }

    .game_btn{
        text-align: center;
        button{
            color: #223e4b;background-color: #f47b4e;margin-top: 5vw;width: 60%;
        }
    }
    .button-ios.activated , .button-md.activated {
        background-color : #f47f53;
    }
    .item{
        .label-ios, .label-md {
            display: flex;
        }
        border-bottom-width: 2px! important;
        border-bottom: 1px solid rgba(112, 112, 112, 0.1) !important;
        padding-left:4vw;
    }

    .dlgupgrade{
        background: rgba(32,62,75,0.5);
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        left: 0px;
        display: flex;
        justify-content: center;
        z-index: 999;
        align-items: center;
        padding: 5vw;
    }

    .frmupgrade{
        background-color: white;
        padding: 4vw;
        border-radius: 2vw;
        text-align: center;
        img {
            max-width: 100%;
            border: 0;
            margin-top: -20vw;
        }

        .upgradetitle{
            color: #223e4b;
            font-size: 20px;
            font-weight: bold;
        }

        .upgradecomment{
            color: #223e4b;
            padding-top: 2vw;
            font-size: 11px;
        }

        li{
            padding: 5px 0px;
            font-size: 11px;
        }

        ul{
            color: #223e4b;
            text-align: left;
            font-style: italic;
        }

        button{
            z-index: 2000;
        }
    }

    ion-list {
        padding-left: 4vw;
    }

    .search{
       .item-md, .item-ios{
            font-size: 1.2rem;
            padding: 0px;
        }
        .list-md, .list-ios{
            padding: 0px;
            margin: 0px;
        }
        ion-icon{
            color : #f47f53;
            padding-left: 20px;
        }
        .item .label-ios, .item .label-md{
            align-items: center;
        }
    }
    ion-list.search{
        padding: 0px;
    }

    .searchIcon{
        font-size:23px;
        padding:10px;
        color:#f47b4e;
        margin-right:5px;
    }
    .slide-header{
        .title{
            margin:0;
        }
        .arrow-content{
            z-index: 9999;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0%,-40%);
            img {
                transform: rotate(180deg);
                height: 23.31px;
            }
        }
        height: 76px;
    }
    .content-padding{
        padding: 20px;
        .input-container{
            background: #F4F4F4;
            padding: 20px;
        }
        .search-btn{
            background: linear-gradient(180deg, #587581,#203E4B);
            font-family: industry-bold;
            color: white;
            font-size: 18px;
            height: 44px;
            border-radius: 6px;
            width: 100%;
            img{
                margin-right:8px;
            }
        }
    }
    .search-friend input{
        border: 1px solid #AFC0C7;
        height: 44px;
        font-size: 18px;
        padding-left: 10px;
        margin: 0;
        width: 100%;
        color: #213F4C;
        background: white;
        font-family: roboto-medium;
    }
    .header-search{
        padding-left: 7px;
        margin-bottom: 10px;
        img{
            margin-right: 5px;
        }
        .label{
            font-weight: bold;
            font-size: 16px;
        }
    }
    .list-title{
        text-align: center;
        font-family: industry-black;
        font-size: 21px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.1);
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    .friend-name{
        color: #203E4B;
        font-size: 16px;
        font-weight: bold;
    }
    .item{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .btn-showList{
        background: white;
        border: 1.5px solid #587581;
        border-radius: 4px;
        width: 165px;
        height: 36px;
        font-family: roboto-medium;
        font-size: 14px;
        color: #213F4C;
        margin-top: 20px;
    }
}
