page-single-special-promo {
    .bg-img{
        min-height: 100px;
        background-position: center;
    }
    .content{
        background: #2C5766;
    }
    .hidelabel{
        display: none !important
    }
    .countDown{
        visibility: visible;
        .dots{
            color:white;
            font-size: 20px;
        }
        .label{
            color:white;
            text-align: left;
        }
        .dots.white{
            color:#2C5766;
        }
        .digit{
            font-size: 16px;
            padding: 5px;
            height: 30px;
            width: 25px;
        }
    }
    .hideCounter{
        visibility: hidden !important;
    }
    .countDownstextBottom{
        color: gray;
        font-size: 10px;
        margin-top: 5px;
    }
    .social-row{
        text-align: center;
    }
}
