page-accountsetting {
    .fund_lbl{
        font-size: 11px;
        color: #282828;
        padding-left: 0px;
        margin-right: 0px;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default  {
        color: #f47b4e;        
    }

    .toolbar-title-ios, .toolbar-title-md {        
        color: #1f323b;        
    }

    .item-ios ion-avatar, .item-md ion-avatar {
        min-width: 30px;
        min-height: 30px;
    }

    .preference{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vw;
        font-size: 14px;
    }
    .game_btn{
        text-align: center;
        button{
            color: #223e4b;background-color: #f47b4e;margin-top: 5vw;width: 60%; 
        }
    }

    .prosettings{
        padding: 4vw;
        padding-bottom: 2vw;
        padding-top: 2vw;
        background-color: #223e4b;
        color: white;
        font-weight: 700;
        font-size: 14px;
    }

    .change{
        padding: 4vw;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        align-items: center;
    }

    .favteam{
        color: grey;
        font-size: 14px;
    }

    .newsfeed{
        padding: 4vw;
        font-size: 14px;
        padding-left: 7vw;
        color: grey;
    }

    .newsitems{
        padding-top: 4vw;
        display: flex;
        align-items: center;
        ion-icon{            
            color: #f47b4e;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .newsitem{
        padding-right: 4vw;
        color: grey;
        font-size: 14px;
        display: flex;
        align-items: center;
        ion-icon{
            font-size: 20px;
            padding-left: 2vw;
            color: #f47b4e;
            font-weight: bold;
        }
    }

    .select-text {
        margin-top: 1vw;
    }

    .item-ios.item-block .item-inner, .item-md.item-block .item-inner {
        border:none;
    }
    .newsitems{        
        .text-input-ios, .text-input-md {
            margin: 11px 8px 11px 0;            
            width: calc(93% - 8px);
            border-bottom: grey solid 1px;
            margin-left: 3vw; 
            font-size: 10px;
        }
        .text-input::-moz-placeholder {
            font-size: 10px;
            margin-bottom: 1vw;
        }        
        .text-input:-ms-input-placeholder {
            font-size: 10px;
            margin-bottom: 1vw;       
        }
        .text-input::-webkit-input-placeholder {
            text-indent: 0;
            font-size: 10px;
            margin-bottom: 1vw;
        }
    }

    .button-ios.activated , .button-md.activated {
        background-color : #f47f53;
    }
    
    .upgradefeed{
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-around;
        font-size: 10px;
        color: grey;
        span{
            padding-top: 4vw;
            padding-bottom: 4vw;
        }
    }

    .dlgupgrade{
        background: rgba(32,62,75,0.5);
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        left: 0px;
        display: flex;
        justify-content: center;
        z-index: 999;
        align-items: center;
        padding: 5vw;
    }

    .frmupgrade{
        background-color: white;
        padding: 4vw;
        border-radius: 2vw;
        text-align: center;
        img {
            max-width: 100%;
            border: 0;
            margin-top: -20vw;
        }

        .upgradetitle{
            color: #223e4b;
            font-size: 20px;
            font-weight: bold;
        }

        .upgradecomment{
            color: #223e4b;
            padding-top: 2vw;
            font-size: 11px;
        }

        ul{
            color: #223e4b;
            text-align: left;
            font-style: italic;
        }

        li{
            padding: 5px 0px;
            font-size: 11px;
        }

        button{
            z-index: 2000;
        }
    }

    ion-list {
        padding-left: 4vw;
    }





    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default,
    .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default  {
        color: #f47b4e;        
    }

    .toolbar-title-ios, .toolbar-title-md {        
        color: #1f323b;        
    }

    .item-ios ion-avatar, .item-md ion-avatar {
        min-width: 30px;
        min-height: 30px;
    }

    .game_btn{
        text-align: center;
        button{
            color: #223e4b;background-color: #f47b4e;margin-top: 5vw;width: 60%; 
        }
    }

    .bit{
        padding: 4vw;
        text-align: center;
    }
    .pretitle{
        padding: 3vw;
        background-color: #1f323b;
        color: white;
    }
    .preselect{
        display: flex;
        justify-content: space-around;
        .select-ios .select-icon,.select-md .select-icon {            
            margin-right: 2vw;
        }
    }
    .preitem{
        padding: 4vw;
        display: flex;
        .label-ios, .label-md {
            color: rgb(7, 7, 7);
            padding-left: 3vw;
        }
        .radio-ios, .radio-md {
            position: relative;
            display: flex;
            align-items: center;
        }
        .radio-ios .radio-icon,.radio-md .radio-icon {
            position: relative;
            display: block;
            width: 22px;
            height: 22px;
            border: 1px solid #1f323b;
        }
        .radio-ios .radio-checked .radio-inner,.radio-md .radio-checked .radio-inner {            
            border-color: #1f323b;           
        }
        .radio-md .radio-inner, .radio-ios .radio-inner {
            left: 2px;
            top: 2px;
            border-radius: 50%;
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #1f323b;
        }
    }

    .precontent{
        ion-input{
            padding: 4vw;
        }
        .text-input-ios, .text-input-ios {
            margin: 0px;
            width: 100%;
            border-bottom: grey 1px solid;
        }
    }

    .precontent .text-input-ios, .precontent .text-input-md {       
        padding-bottom: 1vw;
    }

    .button-ios.activated , .button-md.activated {
        background-color : #f47f53;
    }  
}
