page-notification-settings {
  ion-content {
    .toolbar {
      .toolbar-background {
        background-color: #587581;
      }

      .toolbar-title {
        color: white;
      }
    }
  }

  .orange-icon {
    color: #f4845a;
  }
}
